// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'media/media';
@import 'users/profile';
@import 'feed';
@import 'discover';
@import 'trending';
*{
    box-sizing: border-box !important;
}
body{
    background: #EDF0F9;
}
#user-bubble{
    height: 50px;
    width: 50px;
    border: 3px solid white;
    position: fixed;
    top: 10px;
    right: 50px;
    z-index: 100;
    background: url('https://randomuser.me/api/portraits/women/44.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 40px 45px -35px rgba(13,102,255,0.48);
    -moz-box-shadow: 0px 40px 45px -35px rgba(13,102,255,0.48);
    box-shadow: 0px 40px 45px -35px rgba(13,102,255,0.48);
}
#main-layout{
    // display: grid;
    // grid-template-columns: 300px 1fr;
    // grid-template-rows: 100vh;
    width: 100%;
    // overflow: hidden;
    .side-menu{
        background: #ffffff;
        color: #465B6E;
        padding: 50px;
        width: 240px;
        position: absolute;
        top:0;
        bottom: 0;

        .logo{
            color: #2768F7;
            font-weight: 900;
            font-size:3rem;
            margin-bottom: 1.2rem;
        }
        .links{
            display: flex;
            flex-direction: column;
            
            a{  
                padding: 0;
                margin-bottom: 1.2rem;
                color: #2768F7;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                text-decoration: none;
                &:hover{
                    color: #EC578F;
                    .fas, .far{
                        color: #EC578F !important;
                    }
                }
                .fas, .far{
                    color: #2768F7 !important;
                    font-size: 1rem;
                    margin-right: 1rem;
                    color: blue;
                }
            }
        }
    }
    .content-area{
        background: #EFF2F9;
        height: 100vh;
        width: calc(100vw - 240px);
        transform: translate3d(240px, 0,0);
        overflow: scroll;
        padding: 50px;
        a{
            color: #2768F7 !important;
        }
    }
}
.ad-space{
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 960.98px) {
    #main-layout{
        .side-menu{
            // transform: translate3d(300px, 0, 0);
            // display: ;
            z-index: 10;
            top: auto;
            padding: 0;
            width: 100%;
            .links{
                flex-direction: row;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                a{
                    height: 70px;
                    width: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    margin: 0;
                    .fas, .far{
                        font-size: 1.7rem;
                        margin: 0;
                    }
                }
                span{
                    display: none;
                }
            }
            .logo{
                display: none;
            }
        }
        .content-area{
            transform: translate3d(0,0,0);
            width: 100%;
            padding: 20px;
        }
    }
}