#profile-content{
    #top-section{
        background: white;
        margin-bottom: 2rem;
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .user-image{
            padding: 0 20px;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
        .profile-information{
            padding: 0 20px;
            // margin-top: 50px;
            
            // display:flex;
            // justify-content: flex-start;
            // flex-direction: column;
            // align-items: flex-start;
            h3{
                line-height: .6;
            }
            h5{
                // margin-bottom: 1rem;
            }
        }
        .user-title{
            margin-top: 2rem;
            margin-bottom: 1rem;
            h3{
                font-size: 1.4rem;
                font-weight: 600;
            }
            h5{
                font-size: .9rem;
                font-weight: 600;
                color: #949799;
            }
        }
        .user-stats{
            max-width: 400px;
            display:flex;
            margin-bottom: 1rem;
            .stat{
                display:flex;
                margin-right: 20px;
                justify-content: center;
                align-items: center;
                // flex-direction: column;
                .numbers{
                    font-size: 1.4rem;
                    font-weight: 600;
                    line-height: 0.5;
                    margin-right: 5px;
                }
                .stat-title{
                    font-size: 1rem;
                    font-weight: 600;
                    color: #949799;
                }
            }
        }
        .profile-text{
            p{
                color: #949799;
            }
        }
    }
    #cast-section{
        margin-bottom: 2rem;
        h3{
            margin-bottom: 2rem;
        }
        h6{
            font-weight: 600;
        }
        .vote-btn{
            border: 1px solid #EC578F;
            color: #EC578F;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 2rem;
            height: 50px;
            width: 100%;
            &:hover, &.active{
                background: #EC578F;
                color: white;
                font-weight: 600;
                padding:20px;
                text-align: center;
                
            }
        }
        .cast-members{
            display: flex;
            scroll-snap-type: x mandatory;
            overflow-x: scroll;
            .member{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100px;
                cursor: pointer;
                margin-right: 10px;
                scroll-snap-align: center;
                &:hover{
                    .user-image{
                        filter: grayscale(0);
                    }
                }
                .user-image{
                    border-radius: 50%;
                    height: 70px;
                    width: 70px;
                    border: 3px solid white;
                    filter: grayscale(100%);
                    object-fit: cover;
                    object-position: center;
                }
                .title{
                    font-size: .9rem;
                }
            }
        }
    }
    
    
    .home-jumbo{
        height: calc(100vh - 200px);
        width: 100%;
        background: url('https://www.rollingstone.com/wp-content/uploads/2019/12/Ozuna-1.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 5px;
        cursor: pointer;
        -webkit-box-shadow: 0px 40px 45px -35px rgba(13,102,255,0.48);
-moz-box-shadow: 0px 40px 45px -35px rgba(13,102,255,0.48);
box-shadow: 0px 40px 45px -35px rgba(13,102,255,0.48);
        margin-bottom: 2rem;
    }
    h2{
        margin-bottom: 2rem;
    }
    
    .comments{
        .comment{
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: white;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 1rem;
            -webkit-box-shadow: 0px 40px 45px -35px rgba(13,102,255,0.48);
            -moz-box-shadow: 0px 40px 45px -35px rgba(13,102,255,0.48);
            box-shadow: 0px 40px 45px -35px rgba(13,102,255,0.48);
            .number{
                font-weight: 100;
                margin-right: 20px;
            }
            .user-image{
                background: url('https://www.rollingstone.com/wp-content/uploads/2019/12/Ozuna-1.jpg');
                background-position: center;
                background-size: cover;
                border-radius: 50%;
                width: 50px;
                height:50px;
                margin-right: 20px;
            }
            .info{
                
                .name{
                    font-weight: 600;
                    font-size: 1.2rem;
                }
                .message{
                    font-weight: 500;
                    font-size: 1rem;
                }
            }
        }
    }
    .editors-list{
        .container{
            .row{
                .col-md-6{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .box-user{
                        height: 150px;
                        width: 100%;
                        background: url('https://www.rollingstone.com/wp-content/uploads/2019/12/Ozuna-1.jpg');
                        background-position: center;
                        background-size: cover;
                        border-radius: 5px;
                        cursor: pointer;
                        -webkit-box-shadow: 0px 40px 45px -35px rgba(13,102,255,0.48);
                        -moz-box-shadow: 0px 40px 45px -35px rgba(13,102,255,0.48);
                        box-shadow: 0px 40px 45px -35px rgba(13,102,255,0.48);
                        margin-bottom: 2rem;
                        opacity: .5;
                        transition: opacity .3s ease-in-out;
                        &:hover{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        
    }
}
#profile-tabs{
    .tab-menu{
        display: flex;
        .tab{
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-weight: 700;
            &.active{
                background: white;
            }
        }
    }
    .tab-content{
        background: white;
        padding: 20px;
        .tab{
            display: none;
            &.active{
                display: block;
            }
        }
        .video-post{
            margin-bottom: 20px;
            img{
                object-fit: cover;
                object-position: center;
                width: 100%;
                margin-bottom: 10px;
            }
            .video-title{
                display: block;
                font-size: .9rem;
                font-weight: 900;
            }
        }
        .post-stats{
            color: #949799;
            display: block;
            font-size: .9rem;
        }
    }
}


@media (max-width: 600px) {
    #profile-content{
        #top-section{
            flex-direction: column;
            .profile-information{
                padding: 0;
                .user-title{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .user-stats{
                    display: flex;
                    justify-content: center;
                    .stat:nth-child(3){
                        margin-right: 0;
                    }
                }
                
            }
        }
    }
}